[run]
include=stack.py,
        linked_list.py,
        dequeue.py,
        binary_heap.py,
        dll.py,
        graph.py,
        linked_list.py,
        priorityq.py,
        que_.py,
        bst.py
