[run]
include=stack.py,
        dequeue.py,
        binary_heap.py,
        dll.py,
        graph.py,
        priorityq.py,
        shortest-path,
        que_.py,
        insertion_sort.py,
        merge_sort.py
